<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mappings.RoleMapper">
    <select id="getRole" resultType="Role">
        SELECT id,role_name as roleName,note FROM t_role where id = #{id}
    </select>

    <delete id="deleteRole">
        DELETE FROM t_role where id = #{id}
    </delete>
    <insert id="insertRole" parameterType="com.cn.bean.Role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_role (role_name,note) VALUES (#{roleName},#{note})
    </insert>

    <update id="updateRole" parameterType="com.cn.bean.Role">
        UPDATE t_role set role_name = #{roleName},note = #{note} WHERE id = #{id}
    </update>

    <select id="findRoles" resultType="Role">
        SELECT id,role_name as roleName,note FROM t_role
          <where>
              <if test="roleName != null">
                  role_name like concat('%',#{roleName},'%')
              </if>
              <if test="note != null">
                  note like concat('%',#{note},'%')
              </if>
          </where>
    </select>

</mapper>